body {
	background-color: #83B692;
	font-family: Georgia
}
input {
	border: 1px solid black;
	margin-bottom: 3px;
}
#summary-input {
	width: 660px;
	height: 500px;
}
.label {
	padding-top: 10px;
}
.submit-btn {
	margin-right: 10px;
}